@model StripeSample.Handlers.InvoicesForCurrentUser.ViewModel
@using StripeSample.Infrastructure
@using StripeSample.Controllers
@{
    ViewData["Title"] = "Invoice History";
}

<div class="container">

    <div class="border-bottom mb-5">
        <h2><a asp-controller="Account" asp-action="@nameof(AccountController.Index)">Account Details</a> / @ViewData["Title"]</h2>
    </div>

    <table class="table table-sm table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Paid</th>
                <th scope="col">ID</th>
                <th scope="col">Period</th>
                @*<th scope="col">Payment method</th>*@
                <th scope="col">Amount</th>
                <th scope="col">Invoice PDF</th>
            </tr>
        </thead>
        <tbody>

            @if (Model.HasInvoices)
            {@foreach (var invoice in Model.Invoices)
                {
                    <tr>
                        <td scope="row">
                            @if (invoice.IsPaid)
                            {
                                <i class="fas fa-check mr-2 text-success font-weight-bold"></i>
                            }
                        </td>
                        <td scope="row">@invoice.InvoiceNumber</td>
                        <td>@invoice.PeriodStart - @invoice.PeriodEnd</td>
                        @*<td><i class="fas fa-credit-card mr-2"></i> Visa ending in</td>*@
                        <td>@invoice.AmountDueInCents.CentsAsDollars(invoice.CurrencyCode)</td>
                        <td><a href="@invoice.HostedInvoiceUrl" target="_blank"><i class="fas fa-download mr-2"></i></a></td>
                    </tr>
                }

        }
        else
        {
            <tr>
                <td scope="row" colspan="5">There are no invoices to display.</td>
            </tr>
        }
        </tbody>
    </table>

</div>